<% include partials/header %>
<h1>Landing page coming sooon!!!</h1>

<h2>Welcome to Students Guide</h2>
<a class="btn btn-primary" href="/campgrounds">View all Notes</a><br><br>

<a class="btn btn-primary" href="/index">main page</a>
<% include partials/footer %>